<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>ConnectCasa</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/site.webmanifest">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://kit.fontawesome.com/085f7c1593.css" crossorigin="anonymous">
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap"
        rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap"
        rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/contact.css">
    <!--Chamando o w3 CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top shadow-sm" id="mainNav" ;
        style="background-color: #000a25;">
        <div class="container px-5">
            <a class="navbar-brand fw-bold" href="../index.html"><img src="/assets/img/LOGO 2.png" alt="" srcset=""
                    height="60px" width="180px"></a>
            <button class="navbar-toggler colorButton" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <a class="colorButton">Menu</a> 
        <i class="bi-list iconColor"></i>
      </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                    <li class="nav-item"><a class="nav-link me-lg-3" href="../index.html"
                            style="color: whitesmoke; font-weight: bolder">Home</a></li>
                    <li class="nav-item"><a class="nav-link me-lg-3" href="/views/services.html"
                            style="color: whitesmoke; font-weight: bolder">Serviços</a></li>
                    <li class="nav-item"><a class="nav-link me-lg-3" href="/views/contact.html"
                            style="color: whitesmoke; font-weight: bolder">Contato</a></li>
                    <li class="nav-item"><a class="nav-link me-lg-3" href="../index.html#FAQ"
                            style="color: whitesmoke; font-weight: bolder;">FAQ</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="containerContent">
        <div class="w3-card-4 p-2 flex-fill bd-highlight w3-margin card" >
            <header class="w3-container">
                <h1 class="title">Canais de contato</h1>
            </header>

            <div class="w3-container">
                <ul class="teste">
                    <li id="estiloLista"><a href="https://api.whatsapp.com/send?phone=11940645167"><img
                                src="https://img.shields.io/badge/WhatsApp-25D366?style=for-the-badge&logo=whatsapp&logoColor=white"
                                alt="Clique aqui!" class="icons"></a></li>
                    <li id="estiloLista"><a href="https://www.instagram.com/connectcasa_informatica/"><img
                                src="https://img.shields.io/badge/Instagram-E4405F?style=for-the-badge&logo=instagram&logoColor=white"
                                alt="@Connectcasa_informatica" srcset="" class="icons"></a></li>
                    <li id="estiloListaespecial" style="width: 80%; text-align: center;">
                        <p>Ou entre em contato através do telefone:</p>
                    </li>
                    <div class="teste2">
                    <li id="estiloListaespecial">
                        <p class="number">(11) 94064-5167</p>
                    </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>

    <!--Footer-->
    <footer class="pt-4 pb-4" style="background-color: #15283b; color: white;">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="/assets/img/LOGO 2.png" alt="Logo da empresa" height="60px" width="180px">
                </div>
                <div class="col-md-6">
                    <h5>Contato</h5>
                    <p style="color: white;">Entre em contato conosco para mais informações:</p>
                    <ul class="list-unstyled">
                        <li style="color: white;"><i class="fas fa-phone"></i> (11) 94064-5167</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Redes Sociais</h5>
                    <ul class="list-unstyled">
                        <li><a href="https://api.whatsapp.com/send?phone=11940645167"><i class="fa-brands fa-whatsapp"></i> WhatsApp</a> </li>
                        <li><a href="https://www.instagram.com/connectcasa_informatica/"><i class="fa-brands fa-instagram"></i> Instagram</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- * * * * *-->

    <!--Whatsapp Widget-->
    <div class="whatsapp-widget">
        <a href="https://api.whatsapp.com/send?phone=11940645167" target="_blank">
            <i class="fa-brands fa-whatsapp"></i>
            <span class="remove-text">Entre em contato pelo WhatsApp</span>
        </a>
    </div>
    <!-- * * * * *-->


    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/085f7c1593.js" crossorigin="anonymous"></script>
    <!-- Core theme JS-->
    <script src="/js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>

</html>